.group-role-container {
    min-width: 1095px;

    .roles-container {
        display    : flex;
        flex-wrap  : wrap;
        height     : 440px;
        max-height : 440px;
        overflow-x : auto;
        overflow-y : auto;
        white-space: nowrap;

        .role-item {
            flex      : 1 1 50%;
            box-sizing: border-box;
        }
    }
}