.container_profile {
    background-color: #f5f5f5;

    .container {
        .title_main {
            display        : flex;
            margin         : 20px 0 5px 0;
            background     : #fff;
            border-radius  : 3px;
            padding        : 10px 20px;
            box-shadow     : 0 1px 1px 0 rgba(0, 0, 0, .05);
            justify-content: space-around;

            .title_order {
                font-size  : 16px;
                cursor     : pointer;
                font-weight: 500;
            }

            .title_order:hover {
                color: #df2525;
            }

            .title_order.active {
                color: #fe6433;
            }

            .seperate {
                color: #9e9b9b;
            }

            .title_profile {
                font-size  : 16px;
                cursor     : pointer;
                font-weight: 500;
            }

            .title_profile:hover {
                color: #df2525;
            }

            .title_profile.active {
                color: #fe6433;
            }
        }

        .content {
            display      : flex;
            margin       : 2px 0 10px 0;
            background   : #fff;
            border-radius: 3px;
            padding      : 10px 20px;
            box-shadow   : 0 1px 1px 0 rgba(0, 0, 0, .05);

            .content_left {
                .product {
                    .product_item {
                        display       : flex;
                        border-bottom : 1px solid rgb(221, 217, 217);
                        padding-bottom: 10px;
                        padding-top   : 5px;

                        .name-order {
                            .name-product {
                                padding-top  : 10px;
                                color        : #8b8787;
                                font-size    : 15px;
                                width        : 250px;
                                word-wrap    : break-word;
                                overflow-wrap: break-word;
                                white-space  : normal;
                            }

                            .quantity {
                                color    : #8b8787;
                                font-size: 14px;
                            }

                            .total_price {
                                font-size: 14px;
                                color    : #8b8787;

                                .price {
                                    color: #fe6433;
                                }
                            }

                            .img_product {
                                width              : 100px;
                                height             : 100px;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                background-position: center center;
                                object-fit         : cover;
                                border-radius      : 3px;
                                margin             : 10px 0;
                            }
                        }

                        .status-order {
                            padding-left: 240px;

                            .status {
                                padding-top: 10px;

                                .order_status {
                                    color: #9e9b9b;

                                    .success {
                                        color: green;
                                    }

                                    .fail {
                                        color: red;
                                    }
                                }

                                .icon_status {
                                    color    : #9e9b9b;
                                    font-size: 13px;
                                }
                            }
                        }

                        .cancel {
                            padding-left: 100px;
                        }
                    }
                }

                .no_product {
                    display     : flex;
                    padding-top : 30px;
                    padding-left: 430px;

                    .title_no-product {
                        color    : #837e7e;
                        font-size: 15px;
                    }

                    .click_buy {
                        cursor      : pointer;
                        padding-left: 5px;
                        color       : blue;
                    }
                }
            }

            .content_right {
                padding         : 10px;
                width           : 215vh;
                margin          : 0 250px;
                height          : 250px;
                border-radius   : 5px;
                background-color: #c9ddce;
                position        : relative;

                .title {
                    font-size     : 18px;
                    text-align    : center;
                    padding-bottom: 10px;
                }

                .name_user {
                    padding-top   : 13px;
                    padding-bottom: 13px;
                    font-size     : 16px;
                    color         : #494646;

                    .input {
                        border       : none;
                        border-radius: 3px;
                        padding-left : 5px;
                    }
                }

                .button {
                    float: right;
                }

                .address {
                    padding-top   : 13px;
                    padding-bottom: 13px;
                    font-size     : 16px;
                    color         : #494646;

                    .input {
                        border       : none;
                        border-radius: 3px;
                        padding-left : 5px;
                        width        : 75%;
                    }
                }

                .submit {
                    margin-top: 10px;
                    position  : absolute;
                    left      : 50%;
                    transform : translateX(-50%);
                    bottom    : 10px;
                }
            }
        }
    }
}