.container-detail-store {
    background-color: #f5f5f5;

    .name-store {
        background         : #fe6433;
        margin             : 10px 0;
        height             : 105px;
        background-image   : url('https://www.shutterstock.com/image-vector/flash-sale-shopping-poster-banner-600nw-2018454758.jpg');
        background-repeat  : no-repeat;
        background-position: center;
        border-radius      : 3px;
        padding            : 10px 20px;
        box-shadow         : 0 1px 1px 0 rgba(0, 0, 0, 0.05);

        .name {
            background-color: white;
            max-width       : 200px;
            height          : 50px;
            border-radius   : 10px;
            font-size       : 18px;
            font-weight     : 600;
            text-align      : center;
            padding-top     : 10px;
        }
    }

    .header-store {
        margin       : 10px 0;
        background   : #fff;
        border-radius: 3px;
        padding      : 10px 20px;
        box-shadow   : 0 1px 1px 0 rgba(0, 0, 0, .05);

        .container-header-store {
            height         : 40px;
            display        : flex;
            justify-content: space-between;

            .header-store-left {
                display: flex;

                .list-category {
                    list-style-type: none;
                    font-size      : 17px;
                    padding-top    : 7px;
                    margin-left    : -30px;
                    border-radius  : 5px;
                    cursor         : pointer;

                    .list-item {
                        position        : absolute;
                        box-shadow      : 0 0 2px 0 rgba(0, 0, 0, .25);
                        background-color: #fff;
                        z-index         : 200;
                        width           : auto;

                        .item-category {
                            padding  : 5px 15px;
                            margin   : 0;
                            font-size: 14px;
                            color    : blue;

                        }

                        .item-category.active {
                            background-color: #fb6335;
                            color           : white;
                        }

                        .item-category:hover {
                            background-color: #f5f5f5
                        }
                    }
                }

                .all_product {
                    padding-left: 50px;
                    padding-top : 6px;
                    cursor      : pointer;

                    .title {
                        font-size: 15px;
                    }

                    .title.active {
                        border-bottom: 3px solid #ff9800;
                    }
                }
            }
        }

        .header-store-right {

            .box {

                .sbox {
                    position: relative;

                    .stext {
                        width                : 300px;
                        height               : 40px;
                        background           : white;
                        font-size            : 10pt;
                        float                : left;
                        color                : black;
                        padding-left         : 45px;
                        border               : 1px solid rgb(204, 199, 199);
                        -webkit-border-radius: 5px;
                        -moz-border-radius   : 5px;
                        border-radius        : 5px;
                    }

                    .stext:focus {
                        outline: none;
                        border : 1px solid rgb(204, 199, 199);
                    }

                    .fa-search {
                        position   : absolute;
                        top        : 0;
                        left       : 0;
                        margin-left: 16px;
                        margin-top : 11px;
                        z-index    : 1;
                        color      : rgb(204, 199, 199);
                    }
                }
            }
        }
    }

    .content {
        margin       : 10px 0;
        background   : #fff;
        border-radius: 3px;
        padding      : 10px 0 10px 20px;
        box-shadow   : 0 1px 1px 0 rgba(0, 0, 0, .05);

        .title {
            display         : inline-block;
            position        : relative;
            padding         : 0 12px 0 8px;
            margin-left     : -20px;
            height          : 30px;
            line-height     : 30px;
            color           : #fff;
            font-size       : 14px;
            background-color: #f57224;

            .title-name {
                display      : inline-block;
                max-width    : 100%;
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
            }

            ::after {
                position    : absolute;
                top         : 0;
                right       : -7px;
                display     : inline-block;
                content     : "";
                border-color: #ff9800 transparent;
                border-style: solid;
                border-width: 15px 7px;
            }
        }

        .product {
            padding-top    : 10px;
            display        : flex;
            justify-content: flex-start;
            flex-wrap      : wrap;

            .product-item {
                margin-right   : 26px;
                width          : 210px;
                margin-top     : 10px;
                cursor         : pointer;
                margin-bottom  : 10px;
                text-decoration: none;
                color          : inherit;
                border-radius  : 3px;
                box-shadow     : 3px 2px 10px 0 rgba(0, 0, 0, 0.5);

                .img_product {
                    width              : 100%;
                    height             : 200px;
                    background-repeat  : no-repeat;
                    background-size    : contain;
                    background-position: center center;
                    object-fit         : cover;
                    border-radius      : 3px;
                }

                .content-product {
                    padding: 0 3px 4px 3px;

                    .name-product {
                        font-size  : 14px;
                        padding-top: 5px;
                        text-align : justify;

                        .buy-now {
                            font-size       : 12px;
                            background-color: #ff9800;
                            color           : white;
                            padding         : 3px 5px;
                            border-radius   : 3px;
                        }
                    }

                    .name-product:hover {
                        color: blue;
                    }

                    .price {
                        padding-top: 5px;

                        .price-new {
                            color    : #f57224;
                            font-size: 15px;
                        }

                        .price-bottom {
                            display: flex;

                            .price-old {
                                font-size      : 14px;
                                text-decoration: line-through;
                            }

                            .price-promotion {
                                padding-left: 10px;
                                font-size   : 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}